<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Lihat Penduduk Berdasarkan NKK</title>
<div th:replace="fragments/header"></div>
</head>
<body>
	<!-- Top content -->
	<div class="top-content">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-20 text">
					<h1 th:text="'Lihat Data Penduduk - ' + ${penduduk.nik}"></h1>
					<table style="width: 100%">

						<tr>
							<td>NIK</td>
							<td th:text="${penduduk.nik}">NIK</td>
							<td></td>
						</tr>
						<tr>
							<td>Nama</td>
							<td th:text="${penduduk.nama}">nama</td>
							<td></td>
						</tr>
						<tr>
							<td>Tempat/Tanggal Lahir</td>
							<td
								th:text="${penduduk.tempatLahir}+', '+${penduduk.tanggalLahir}">TTL</td>
							<td></td>
						</tr>
						<tr>
							<td>Alamat</td>
							<td th:text="${penduduk.keluarga.alamat}">alamat</td>
							<td></td>
						</tr>
						<tr>
							<td>RT/RW</td>
							<td th:text="${penduduk.keluarga.rt}+'/'+${penduduk.keluarga.rw}">rt/rw</td>
							<td></td>
						</tr>
						<tr>
							<td>Kelurahan/Desa</td>
							<td th:text="${penduduk.keluarga.kelurahan.namaKelurahan}">kel</td>
							<td></td>
						</tr>
						<tr>
							<td>Kecamatan</td>
							<td
								th:text="${penduduk.keluarga.kelurahan.kecamatan.namaKecamatan}">kec</td>
							<td></td>
						</tr>
						<tr>
							<td>Kota</td>
							<td
								th:text="${penduduk.keluarga.kelurahan.kecamatan.kota.namaKota}">kota</td>
							<td></td>
						</tr>
						<tr>
							<td>Golongan Darah</td>
							<td th:text="${penduduk.golonganDarah}">goldar</td>
							<td></td>
						</tr>
						<tr>
							<td>Agama</td>
							<td th:text="${penduduk.agama}">agama</td>
							<td></td>
						</tr>
						<tr>
							<td>Status Perkawinan</td>
							<td th:text="${penduduk.statusPerkawinan}">status</td>
							<td></td>
						</tr>
						<tr>
							<td>Pekerjaan</td>
							<td th:text="${penduduk.pekerjaan}">pekerjaan</td>
							<td></td>
						</tr>
						<tr>
							<td>Kewarganegaraan</td>
							<td th:switch="${penduduk.isWni}">
								<div th:case="1">WNI</div>
								<div th:case="0">Warga Asing</div>
							</td>
							<td></td>
						</tr>
						<tr>
							<td>Status Kematian</td>
							<td th:switch="${penduduk.isWafat}">
								<div th:case="1">Wafat</div>
								<div th:case="0">Hidup</div>
							</td>
							<td>
							<form action="/penduduk/mati" method="get">
							<button class="btn btn-danger" type="submit" id="nik" name="nik" th:value="${penduduk.nik}">Nonaktifkan</button>
							</form>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<hr />
		</div>
	</div>

	<div th:replace="fragments/footer"></div>
</body>
</html>